services:
  postgres:
    image: "${POSTGRES_IMAGE}"
    container_name: postgres-dev
    restart: unless-stopped
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
    volumes:
      - pgdata_dev:/var/lib/postgresql/data
    networks:
      - dev_network
    ports:
      - "${POSTGRES_HOST_PORT:-5444}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: redis-dev
    restart: unless-stopped
    networks:
      - dev_network
    ports:
      - "${REDIS_HOST_PORT:-6333}:6379"
    volumes:
      - redisdata-dev:/data
    command: ["redis-server", "--appendonly", "yes"]

volumes:
  pgdata_dev:
    driver: local
  redisdata-dev:
    driver: local

networks:
  dev_network:
    driver: bridge
